/* Source */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
body {
  font-family: "Chakra Petch", sans-serif;
  color: #d1ffff;
}

#preloader > .status {
  font-family: "Michroma", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 46px;
}

h1,
.txt-title,
.status {
  font-family: "Michroma", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}

.txt-item {
  font-family: "Archivo", sans-serif;
  color: white;
  letter-spacing: -0.5px;
  font-weight: 800;
  font-size: 30px;
}

/* p {
  font-family: "Archivo", sans-serif;
  letter-spacing: -0.5px;
  font-weight: 600;
  font-size: 28px;
} */

h2 {
  font-family: "Chakra Petch", sans-serif;
  color: #d1ffff;
  /* text-shadow: 0 0 15px #81e4f5; */
  font-weight: 400;
  margin: auto;
  /* line-height: 25px; */
}

p {
  font-family: "Chakra Petch", sans-serif;
  /* font-family: 'Electrolize', sans-serif; */
  font-weight: 300;
  line-height: 22px;
  
  color: #c5e9f7;
  text-shadow:
  0 0 4px black,
  0 0 4px black,
  -3px 0 1px #89caf09b,
  3px 0 1px #89caf09b,
  0 0 50px #89caf0,
  0 0 50px #89caf0,
  0 0 50px #89caf0;
  filter: contrast(120%);
  
}

.content p {
  font-size: 20px;
  line-height: initial;
}

.button span {
  width: max-content;
  font-size: 18px;
}