html, body {
    height: 100%;
    /* background: radial-gradient(hsl(189, 85%, 7%), hsl(189, 85%, 4%), #000); */
    background: black;
    /* background: radial-gradient(hsl(151, 61%, 7%), hsl(151, 61%, 4%), #000); */
    color-scheme: dark;
    margin: 0;
    scrollbar-color: #437b8348 #161818;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
}

.background {
    position: absolute;

    min-height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}





/* PRELOADER */
#preloader {
    background-color: #000000;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* display: flex; */
    z-index: 9999;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#preloader #loading {
    position: relative;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image:
        repeating-linear-gradient(
            to left,
            #ff000033,
            #ff000033 0.1px,
            #00ff0033 0.1px,
            #00ff0033 0.3px,
            #0000ff33 0.3px,
            #0000ff33 0.5px
        ),
        repeating-linear-gradient(
            rgba(15, 124, 160, 0),
            rgba(141, 216, 233, 0) 0.15px,
            #ffbf67 0.5px,
            #ffbf67 1px,
            rgba(141, 216, 233, 0) 1.3px,
            rgba(15, 124, 160, 0) 1.4px
        );
    filter:
        blur(0.2px)
        drop-shadow(1px 1px 2px #eaa6466d)
        drop-shadow(1px -1px 2px #eaa6466d)
        drop-shadow(-1px 1px 2px #eaa6466d)
        drop-shadow(-1px -1px 2px #eaa6466d);
        
    
    margin-bottom: 10px;
    margin-right: 50px;
    position: absolute;
    /* display: flex; */
    bottom: 0;
    right: 0;
}





/* ICON '?' */
#index-icon {
    position: fixed;
    /* display: flex; */
    bottom: 20px;
    right: 20px;
    z-index: 100;

    cursor: pointer;

    background-image: url('../image/index-icon.png');
    background-size: cover;
    height: 50px;
    width: 50px;

    filter: drop-shadow(0 0 15px #81e4f5);
}





/* DYNAMIC MESSAGE */
.message {
    position: absolute;
    height: 246px;
    width: 400px;
    margin: auto;
    z-index: 10;
    bottom: 50px;
    right: 50px;
    perspective: 1000px;
}

.author {
    position: relative;
    height: 100%;
    width: 100%;
    transform-origin: 30% 60%;
    filter: drop-shadow(0 0 6px black);
}

.author .avatar {
    background-image: url('../image/Ava.webp');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 222px;
    width: 200px;
    /* filter: */
        /* contrast(120%); */
        /* brightness(110%); */
    image-rendering: optimizeQuality;
    &::after {
        content: '';
        position: absolute;
        background-image: url('../image/Tex-rgb.png');
        background-repeat: repeat;
        background-size: 1.2%;
        opacity: 60%;
        mask-image: url('../image/Ava.webp');
        mask-repeat: no-repeat;
        mask-size: cover;
        height: inherit;
        width: inherit;
        mix-blend-mode: color;
    }
}

.footer-author {
    position: relative;
    width: 200px;
    height: 2px;
    bottom: 0;
}

.message .line {
    position: relative;
    width: 200px;
    height: 2px;
    margin: 5px 0 5px;
    
    background-color: #d1ffff;
    border-radius: 1px;
    filter:
        drop-shadow(0px 0px 10px #fff);

}

.photo {
    position: absolute;
    height: 246px;
    width: 200px;
    left: 0;
    top: 0;
    
    transform: scaleY(0%);
    transition: transform 0.25s;
}

.photo.active {
    transform: scaleY(100%);
}



/* INFORMATION MESSAGE */
.info {
    position: absolute;
    left: 200px;
    top: 0;
    margin-left: 5px;
    text-rendering: geometricPrecision;
    filter: drop-shadow(0 0 6px black);
}

.info li:first-child {
    margin-top: 0;
    color: #ffce5b;
    text-shadow: 0 0 15px #ffcb2d;
}

.info li {
    margin: 10px 0 10px;

    transform: scaleY(100%);
    transition: transform 0.25s;
}

.info li.hidden {
    transform: scaleY(0%);
}

.info li:last-child {
    margin-bottom: 0;
}

.info .txt {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
    bottom: 0;
    width: 200px;

    line-height: 22px;
    font-size: 14px;
}





/* NAVIGATION */
.panel {
    position: fixed;
    height: max-content;
    width: 100%;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(5px);
}

@media (max-width: 600px) {
    .panel {
        margin: 20px 20px 20px 20px;
    }
}

.nav {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    justify-content: space-around;
    margin: 10px 50px 10px 50px;
}

.panel .line {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #d1ffff;
}

.button {
    position: relative;
    cursor: pointer;
    margin: auto;
    width: max-content;
}

.button span {
    display: block;
    padding: 8px 10px 8px 10px;
}

.corners {
    position: absolute;
    width: 100%;
    transition-duration: 0.3s;

    &::before,
    &::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px solid #d1ffff;
    z-index: 0;
    transition-duration: 0.3s;
    transform: translateZ(0);
    }
}

.top {
    &::before {
    border-right-color: transparent;
    border-bottom-color: transparent;
    left: 0;
    top: 0;
    }

    &::after {
    border-left-color: transparent;
    border-bottom-color: transparent;
    right: 0;
    top: 0;
    }
}

.bottom {
    &::before {
    border-right-color: transparent;
    border-top-color: transparent;
    left: 0;
    bottom: 0;
    }

    &::after {
    border-left-color: transparent;
    border-top-color: transparent;
    right: 0;
    bottom: 0;
    }
}

.button:hover .corners.top:before {
    left: 6px;
    top: 6px;
}
.button:hover .corners.top:after {
    right: 6px;
    top: 6px;
}

.button:hover .corners.bottom:before {
    left: 6px;
    bottom: 6px;
}
.button:hover .corners.bottom:after {
    right: 6px;
    bottom: 6px;
}





/* CONTENT */
.about {
    position: relative;
    display: grid;
    
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;

    margin: 40px auto;
    height: 80%;
    width: 90%;
    top: 60px;
    /* overflow: hidden; */
}

.about .blockL {
    position: relative;
    height: 100%;
}

.blockL > div::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    /* filter:
        var(--font-fltr)
        drop-shadow(0 0 4px black)
        drop-shadow(10px 0px 1px #89caf09b)
        drop-shadow(0 0 50px #89caf0); */
}

.blockL .box {
    position: relative;
    width: 100%;
    height: max-content;

    box-sizing: border-box;
    border: 1px solid #c5e9f7;
    
    &::before {
        border: 1px solid #c5e9f7;
        filter:
            blur(2px);
        transform:
            translate(40px)
            scale(90%);
    }
}

.blockL h2 {
    position: relative;
    text-align: center;
    padding: 8px 0;

    background: repeating-linear-gradient(
        to top,    
        var(--font-clr) 0,
        var(--font-clr) 2.5px,
        transparent 3px,
        transparent 3.5px,
        var(--font-clr) 4px
        );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    /* transform: translate(-50%, -50%);
    left: 50%;
    top: 50%; */
}

.blockL .content {
    position: relative;
    width: 100%;
    top: 0;
    height: min-content;
    box-sizing: border-box;

    height: auto;
    max-height: 100%;

    &::before {
        border-left: 1px dashed #d1ffff;
        border-right: 1px dashed #d1ffff;
        border-bottom: 1px solid #d1ffff;
    }
}

.blockL p {
    text-align: justify;
    padding: 20px 10px;
    margin: auto;
}

.blockL p:last-child {
    text-align: justify;
    padding: 20px 10px 0;
}

.about .blockR {
    position: relative;
    overflow: hidden;
    height: 100%;

    /* display: flex; */
    /* width: 60%; */
    /* right: 0; */
}

.blockR .frame1,
.frame2,
.frame3,
.frame4,
.frame5,
.frame6,
.frame7,
.frame8,
.frame9 {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: optimizeQuality;

    
    opacity: 0;
    margin: auto auto auto 0;
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.frame1 {
    background-image: url('../image/frame/1frame.webp');
}

.frame2 {
    background-image: url('../image/frame/2frame.webp');
}

.frame3 {
    background-image: url('../image/frame/3frame.webp');
}

.frame4 {
    background-image: url('../image/frame/4frame.webp');
}

.frame5 {
    background-image: url('../image/frame/5frame.webp');
}

.frame6 {
    background-image: url('../image/frame/6frame.webp');
}

.frame7 {
    background-image: url('../image/frame/7frame.webp');
}

.frame8 {
    background-image: url('../image/frame/8frame.webp');
}

.frame9 {
    background-image: url('../image/frame/9frame.webp');
}

#hidd {
    z-index: 4;

    margin: auto auto auto 10%;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;
    filter: blur(6px);
    /* background-size: 150%; */

    transition: all 0.4s;
}

#pos1 {
    z-index: 3;

    margin: auto auto auto 10%;
    height: 70%;
    width: 90%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    filter:
        blur(0)
        drop-shadow(0 0 10px black);
    /* background-size: contain; */
    opacity: 100%;
    
    transition: all 1s;
}

#pos2 {
    z-index: 2;

    margin: auto auto auto 5%;
    height: 50%;
    width: 70%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    filter:
        blur(2px)
        drop-shadow(0 0 10px black);
    /* background-size: contain; */
    opacity: 100%;

    transition: all 1s;
}

#pos3 {
    z-index: 1;

    margin: auto auto auto 0;
    height: 30%;
    width: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    filter:
        blur(6px)
        drop-shadow(0 0 10px black);
    /* background-size: contain; */
    opacity: 100%;

    transition: all 1s;
}